/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070; 
  --nav-color: rgb(255, 0, 112);
  --accent-text-color: rgb(0, 0, 40);
  --main-title-color: rgb(219, 0, 255);
  --section-title-color: rgb(255, 0, 112);
  --text-color: rgb(241, 178, 206);
}
