/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* Файл variables.css */
:root {
  --accent-color: #ff0070;
  --nav-color: rgb(255, 0, 112);
  --accent-text-color: rgb(0, 0, 40);
  --padding: clamp(10px, 100vw / 38, 20px);
  --main-title-color: rgb(219, 0, 255);
  --section-title-color: rgb(255, 0, 112);
  --text-color: rgb(241, 178, 206);
  --background-image: url(./../images/cover-image-dark.png);
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --background-page-color: rgb(0, 24, 63);
}
